body {
	text-align: center;
}

button {
	display: inline-block;
	margin-top: 5px;
	padding: 5px;
	font-family: helvetica;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: hsl(280, 65%, 35%);
	border: none;
}
