:root {
	--main-padding-x: 5vw;
	--main-padding-y: 5vh;

	--input-border: 2px solid purple;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	font-size: 16px;
	background-color: gray;
}

h1,
h2 {
	text-align: center;
}

nav {
	position: absolute;
	top: calc(var(--main-padding-y) + 12px);
	left: calc(var(--main-padding-x) + 12px);
}

main {
	padding: var(--main-padding-y) var(--main-padding-x);
}

form > div {
	margin: 4px 0;
}

button {
	padding: 2px 4px;
	font-size: 1em;
	background-color: purple;
	border: none;
	outline: none;
}

input {
	padding: 2px 4px;
	font-size: 1em;
	background-color: white;
	border: var(--input-border);
	outline: none;
}

input[type="search"] ~ div {
	width: -webkit-fit-content;
	width:    -moz-fit-content;
	width:         fit-content;
	margin: 0 auto;
	text-align: left;
	border: var(--input-border);
	cursor: pointer;
}

input[type="search"] ~ div > div {
	padding: 0 2px;
}

input[type="search"] ~ div > div:hover {
	background-color: white;
}

img {
	width: 50%;
}
